@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

p{
    text-align: left;
    font-family: "Oswald";
}

#Mateus {
    border: 3px;border-radius: 200px 200px;   
}